 @inject IJSRuntime JSRuntime

 <div class="navbar">
    <div class="top-left">
        <div class="svg-logo-container">
            <div class="svg-a-container">
                <NavLink class="top-nav-menu-logo" href="" Match="NavLinkMatch.All">
                    <img class="svg-class" src="/SVGs/LogoSvg/Logo.svg" alt="Logo" />
                </NavLink>
            </div>
            
        </div>
        <NavLink class="nav-menu-logo-font" href="" Match="NavLinkMatch.All">
            <span class="name-top">TORTUGA</span> <br />
            <span class="name-bottom">POOL SERVICES</span>
        </NavLink>
    </div>

    <div class="nav-links-container">
        <div class="nav-links">
            <a class="nav-button" href="tel:504474384" id="phone-ref">
                <div id="give-us-a-call">
                    Give Us a Call!
                </div>
                <br />
                <div id="phone-svg">
                    <img src="/SVGs/LogoSvg/Phone-svg.svg" />
                </div>
                <div id="phone-number">
                    504.473.4384
                </div>
            </a>
            <div class="right-links">
                <div class="button-a-wrapper">
                    <NavLink class="nav-button" href="contact">
                        Contact
                    </NavLink>
                </div>
                
                <div class="button-a-wrapper">
                    <NavLink class="nav-button" href="about">
                        About
                    </NavLink>
                </div>

            </div>
            <button class="menu-but-class" id="menu-but-id" @onclick="CallToggleMenu">
                <span></span>
                <span></span>
                <span></span>

            </button>

        </div>

    </div>
    <div id="menu-container">
        <ul class="unstyled">
            <li>
                <div class="hamburger-a-wrapper">
                    <NavLink href="" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </div>
               
            </li>
            <li>
                <div class="hamburger-a-wrapper">
                    <NavLink class="hamburger-link" href="contact">
                        Contact
                    </NavLink>
                </div>
            </li>
            <li>
                <div class="hamburger-a-wrapper">
                    <NavLink class="hamburger-link" href="about">
                        About
                    </NavLink>
                </div>
            </li>
        </ul>
        <div class="hamburger-menu-svgs" style="display:
        flex; gap: 2rem;">
            <div class="footer-svg">
                <svg class="svg-class-footer" width="200" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.7 297.36">
                    <defs>
                        <style>
                            .cls-2 {
                                fill: #1B3A44
                            }
                        </style>
                    </defs>
                    <g id="Layer_1-2" data-name="Layer 1">
                        <path class="cls-2" d="m229.18,108.28c-.21-1.14.38-2.26,1.43-2.73,2.48-1.12,7.29-2.93,12.92-3.1,8.22-.25,32.89,5.91,39.54,46.34,5.27,39.25-9.5,43.78-9.5,43.78,0,0-3.69,2.01-5.37,0s-13.14-24.79-37.4-41.25c-1.15-.78-1.72-2.16-1.41-3.51,3.61-15.37.83-33.73-.21-39.53Z" />
                        <path class="cls-2" d="m57.39,101.07s-7.44,26.33-7.51,33.39c-.06,6.22-.69,13.33,2.45,25.33.26,1-.2,2.06-1.11,2.52-10.65,5.39-40.86,34.79-40.86,34.79,0,0-5.05,2.61-7.49-3.75,0,0-4.33-6.17-1.28-26.1,2.21-9.41,7.04-42.01,28.64-66.19,12.88.18,27.17,0,27.17,0Z" />
                        <path class="cls-2" d="m74.8,73.86c-.91.78-2.06,1.23-3.26,1.23H24.69s-2.77-.13-2.64-3.27,9-12.06,9-12.06c0,0,30.02-30.23,68.29-30.99s47.67,4.88,53.31,12.57-.96,9.78-.96,9.78c0,0-18.98-.36-26.54.78s-30.49,4.89-50.35,21.97Z" />
                        <path class="cls-2" d="m188.11,203.44c2.23-1.29,25.95-15.33,36.13-36.22.05-.1.18-.13.27-.05,9.66,8.37,18.1,19.44,21.86,31.78,2.12,6.95,2.67,14.28,2.94,21.54.76,21.25-2.48,41.44-16.98,57.73-6.46,7.26-14.39,13.1-22.94,17.68,0,0-.02,0-.03.01-9.56,3.3-10.02-3.02-10.04-3.4,0-.02,0-.02,0-.03.14-.57,3.8-15.84,4.36-21.43s-1.44-26.38-1.63-28.84-4.36-26.8-13.98-38.51c-.07-.08-.05-.2.04-.25Z" />
                        <path class="cls-2" d="m179.93,56.03s29.28,13.68,41.07,29.34c14.27-8.49,39.28-33.48,41.4-48.2,2.45-15.69,2.29-29.09-3.92-33.5s-29.34-2.94-29.34-2.94c0,0-19.84,2.78-27.03,14.05s-21.96,38.86-22.17,41.24Z" />
                        <ellipse class="cls-2" cx="140.82" cy="128.52" rx="68.72" ry="61.99" />
                        <path class="cls-2" d="m132.38,218.8c-.31-1.41.71-2.77,2.16-2.83,7.36-.33,14.9-.38,22.12-1.65,2.23-.39,4.43-.89,6.61-1.48,1.09-.3,2.17-.62,3.25-.97,1.76-.57,3.67-1.95,5.39-.57,1.49,1.19,2.51,3.08,3.4,4.73,2.2,4.05,3.85,8.4,5.43,12.72.14.39.28.77.42,1.16,1.3,3.59,2.81,11.5,3.55,15.62.4,2.23-.62,4.5-2.59,5.61-4.29,2.42-14.61,5.87-39.44,8.72-1.39.16-2.69-.84-2.89-2.23-1.84-13.36-5.89-31.95-7.42-38.82Z" />
                        <path class="cls-2" d="m118.08,215.06c.29,5.06,2,32.47,4.92,42.12.23.76-.32,1.53-1.12,1.57-9.41.43-22.51-1.99-27.32-2.96-1.08-.22-2.16.34-2.62,1.34-2.42,5.25-10.56,21-23.1,26.03-2.46.26-2.46-2.33-2.46-2.33l-2.22-16.23s-1.65-19.64-8-25.43c-4.66-4.79-25.26-24.31-26.26-31.57,1.16-7.25,19.1-31.49,29.06-33.69,6.08,9.96,26.57,27.09,26.57,27.09,0,0,4.13,4.68,31.72,13.01.47.14.8.56.83,1.04Z" />
                    </g>
                </svg>


            </div>
            <div class="footer-svg">
                <svg class="svg-class-footer" width="200" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.7 297.36">
                    <defs>
                        <style>
                            .cls-2 {
                                fill: #1B3A44
                            }
                        </style>
                    </defs>
                    <g id="Layer_1-2" data-name="Layer 1">
                        <path class="cls-2" d="m229.18,108.28c-.21-1.14.38-2.26,1.43-2.73,2.48-1.12,7.29-2.93,12.92-3.1,8.22-.25,32.89,5.91,39.54,46.34,5.27,39.25-9.5,43.78-9.5,43.78,0,0-3.69,2.01-5.37,0s-13.14-24.79-37.4-41.25c-1.15-.78-1.72-2.16-1.41-3.51,3.61-15.37.83-33.73-.21-39.53Z" />
                        <path class="cls-2" d="m57.39,101.07s-7.44,26.33-7.51,33.39c-.06,6.22-.69,13.33,2.45,25.33.26,1-.2,2.06-1.11,2.52-10.65,5.39-40.86,34.79-40.86,34.79,0,0-5.05,2.61-7.49-3.75,0,0-4.33-6.17-1.28-26.1,2.21-9.41,7.04-42.01,28.64-66.19,12.88.18,27.17,0,27.17,0Z" />
                        <path class="cls-2" d="m74.8,73.86c-.91.78-2.06,1.23-3.26,1.23H24.69s-2.77-.13-2.64-3.27,9-12.06,9-12.06c0,0,30.02-30.23,68.29-30.99s47.67,4.88,53.31,12.57-.96,9.78-.96,9.78c0,0-18.98-.36-26.54.78s-30.49,4.89-50.35,21.97Z" />
                        <path class="cls-2" d="m188.11,203.44c2.23-1.29,25.95-15.33,36.13-36.22.05-.1.18-.13.27-.05,9.66,8.37,18.1,19.44,21.86,31.78,2.12,6.95,2.67,14.28,2.94,21.54.76,21.25-2.48,41.44-16.98,57.73-6.46,7.26-14.39,13.1-22.94,17.68,0,0-.02,0-.03.01-9.56,3.3-10.02-3.02-10.04-3.4,0-.02,0-.02,0-.03.14-.57,3.8-15.84,4.36-21.43s-1.44-26.38-1.63-28.84-4.36-26.8-13.98-38.51c-.07-.08-.05-.2.04-.25Z" />
                        <path class="cls-2" d="m179.93,56.03s29.28,13.68,41.07,29.34c14.27-8.49,39.28-33.48,41.4-48.2,2.45-15.69,2.29-29.09-3.92-33.5s-29.34-2.94-29.34-2.94c0,0-19.84,2.78-27.03,14.05s-21.96,38.86-22.17,41.24Z" />
                        <ellipse class="cls-2" cx="140.82" cy="128.52" rx="68.72" ry="61.99" />
                        <path class="cls-2" d="m132.38,218.8c-.31-1.41.71-2.77,2.16-2.83,7.36-.33,14.9-.38,22.12-1.65,2.23-.39,4.43-.89,6.61-1.48,1.09-.3,2.17-.62,3.25-.97,1.76-.57,3.67-1.95,5.39-.57,1.49,1.19,2.51,3.08,3.4,4.73,2.2,4.05,3.85,8.4,5.43,12.72.14.39.28.77.42,1.16,1.3,3.59,2.81,11.5,3.55,15.62.4,2.23-.62,4.5-2.59,5.61-4.29,2.42-14.61,5.87-39.44,8.72-1.39.16-2.69-.84-2.89-2.23-1.84-13.36-5.89-31.95-7.42-38.82Z" />
                        <path class="cls-2" d="m118.08,215.06c.29,5.06,2,32.47,4.92,42.12.23.76-.32,1.53-1.12,1.57-9.41.43-22.51-1.99-27.32-2.96-1.08-.22-2.16.34-2.62,1.34-2.42,5.25-10.56,21-23.1,26.03-2.46.26-2.46-2.33-2.46-2.33l-2.22-16.23s-1.65-19.64-8-25.43c-4.66-4.79-25.26-24.31-26.26-31.57,1.16-7.25,19.1-31.49,29.06-33.69,6.08,9.96,26.57,27.09,26.57,27.09,0,0,4.13,4.68,31.72,13.01.47.14.8.56.83,1.04Z" />
                    </g>
                </svg>


            </div>
            <div class="footer-svg">
                <svg class="svg-class-footer" width="200" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.7 297.36">
                    <defs>
                        <style>
                            .cls-2 {
                                fill: #1B3A44
                            }
                        </style>
                    </defs>
                    <g id="Layer_1-2" data-name="Layer 1">
                        <path class="cls-2" d="m229.18,108.28c-.21-1.14.38-2.26,1.43-2.73,2.48-1.12,7.29-2.93,12.92-3.1,8.22-.25,32.89,5.91,39.54,46.34,5.27,39.25-9.5,43.78-9.5,43.78,0,0-3.69,2.01-5.37,0s-13.14-24.79-37.4-41.25c-1.15-.78-1.72-2.16-1.41-3.51,3.61-15.37.83-33.73-.21-39.53Z" />
                        <path class="cls-2" d="m57.39,101.07s-7.44,26.33-7.51,33.39c-.06,6.22-.69,13.33,2.45,25.33.26,1-.2,2.06-1.11,2.52-10.65,5.39-40.86,34.79-40.86,34.79,0,0-5.05,2.61-7.49-3.75,0,0-4.33-6.17-1.28-26.1,2.21-9.41,7.04-42.01,28.64-66.19,12.88.18,27.17,0,27.17,0Z" />
                        <path class="cls-2" d="m74.8,73.86c-.91.78-2.06,1.23-3.26,1.23H24.69s-2.77-.13-2.64-3.27,9-12.06,9-12.06c0,0,30.02-30.23,68.29-30.99s47.67,4.88,53.31,12.57-.96,9.78-.96,9.78c0,0-18.98-.36-26.54.78s-30.49,4.89-50.35,21.97Z" />
                        <path class="cls-2" d="m188.11,203.44c2.23-1.29,25.95-15.33,36.13-36.22.05-.1.18-.13.27-.05,9.66,8.37,18.1,19.44,21.86,31.78,2.12,6.95,2.67,14.28,2.94,21.54.76,21.25-2.48,41.44-16.98,57.73-6.46,7.26-14.39,13.1-22.94,17.68,0,0-.02,0-.03.01-9.56,3.3-10.02-3.02-10.04-3.4,0-.02,0-.02,0-.03.14-.57,3.8-15.84,4.36-21.43s-1.44-26.38-1.63-28.84-4.36-26.8-13.98-38.51c-.07-.08-.05-.2.04-.25Z" />
                        <path class="cls-2" d="m179.93,56.03s29.28,13.68,41.07,29.34c14.27-8.49,39.28-33.48,41.4-48.2,2.45-15.69,2.29-29.09-3.92-33.5s-29.34-2.94-29.34-2.94c0,0-19.84,2.78-27.03,14.05s-21.96,38.86-22.17,41.24Z" />
                        <ellipse class="cls-2" cx="140.82" cy="128.52" rx="68.72" ry="61.99" />
                        <path class="cls-2" d="m132.38,218.8c-.31-1.41.71-2.77,2.16-2.83,7.36-.33,14.9-.38,22.12-1.65,2.23-.39,4.43-.89,6.61-1.48,1.09-.3,2.17-.62,3.25-.97,1.76-.57,3.67-1.95,5.39-.57,1.49,1.19,2.51,3.08,3.4,4.73,2.2,4.05,3.85,8.4,5.43,12.72.14.39.28.77.42,1.16,1.3,3.59,2.81,11.5,3.55,15.62.4,2.23-.62,4.5-2.59,5.61-4.29,2.42-14.61,5.87-39.44,8.72-1.39.16-2.69-.84-2.89-2.23-1.84-13.36-5.89-31.95-7.42-38.82Z" />
                        <path class="cls-2" d="m118.08,215.06c.29,5.06,2,32.47,4.92,42.12.23.76-.32,1.53-1.12,1.57-9.41.43-22.51-1.99-27.32-2.96-1.08-.22-2.16.34-2.62,1.34-2.42,5.25-10.56,21-23.1,26.03-2.46.26-2.46-2.33-2.46-2.33l-2.22-16.23s-1.65-19.64-8-25.43c-4.66-4.79-25.26-24.31-26.26-31.57,1.16-7.25,19.1-31.49,29.06-33.69,6.08,9.96,26.57,27.09,26.57,27.09,0,0,4.13,4.68,31.72,13.01.47.14.8.56.83,1.04Z" />
                    </g>
                </svg>


            </div>
        </div>

    </div>

 </div>

 @code {
    private async Task CallToggleMenu()
    {
        await JSRuntime.InvokeVoidAsync("toggleMenu");
    }
 }