.navbar {
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 99;
    text-decoration: none;
    position: fixed;
    left: 0;
    transition: all 400ms ease-in-out;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    font-weight: 800;
    container-type: inline-size;
    padding: 2cqh 3cqw;
    z-index: 9;
}

.top-left{
    display: flex;
    height: fit-content;
    align-items: center;
    filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 1));
    cursor: pointer;
}

::deep .top-left a {
    color: white;
    text-decoration: none;

}

.svg-logo-container {
    min-width: 40px;
    display: flex;
    height: 100%;
    width: 4cqw;
    padding-right: clamp(1rem, .5cqw, 1cqw);
}

::deep .svg-a-container a {
    display: flex;
    align-items: center;
}

.top-nav-menu-logo {
    align-items: center;
    display: flex;
    width: 100%;
}

.nav-menu-logo-font{
    text-shadow: rgb(0 0 0 / 131%) 1px 1px 50px;
    line-height: 1.15;
    color: #fffff5;
    text-decoration: none !important;
}

.name-top {
    letter-spacing: 0.3em;
    font-size: clamp(1.2rem, 3.33cqh, 4cqh);
}

.name-bottom {
    letter-spacing: .04rem;
    font-size: clamp(1rem, 2.8cqh, 4cqh);
}

.svg-class {
    width: 100%;
}

.nav-links-container {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
}

.nav-links {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: clamp(14px, 2.7cqh, 4cqh);
}

.right-links {
    display: flex;
    align-items: center;
}

.nav-button,
::deep.right-links a {
    min-width: fit-content;
    border: 2px solid white;
    backdrop-filter: blur(10px);
    margin-left: 1rem;
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1cqh 2cqh;
    transition: background-color ease-in-out .3s, color ease-in-out .3s;
}

.nav-button:hover,
::deep .button-a-wrapper:hover a {
    background-color: white;
    cursor: pointer;
    color: black;
}

#phone-ref {
    background: linear-gradient(90deg, rgb(51 154 249) 0%, rgba(28, 181, 221, 1) 69%);
    height: 100%;
    border-radius: 1rem;
    padding: 0cqh 2cqh;
    font-weight: 600;
    border: none;
    backdrop-filter: none;
}

#phone-number {
    display: flex;
}

#phone-svg {
    display: flex;
    padding: 0 1cqw;
    animation: 3s tilt-shaking infinite;
}

/*                  Scroll Up Sticky Menu Stuff         */


.scroll-down .navbar {
    transform: translate3d(0, -100%, 0);
}

.scroll-up .navbar {
    filter: drop-shadow(0 -10px 20px rgb(0, 0, 0));
    background-color: #0f303a;
    // overflow: hidden;
}

.scroll-up .top-left {
    filter: none;
}


/*//////////// Hamburger menu stuff//////////*/
.menu-but-class {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#menu-but-id {
    display: none;
    flex-direction: column;
    gap: 3.5px;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    margin-left: 2rem;
}

#menu-but-id span {
    width: 20px;
    height: 2px;
    background-color: white;
    border-radius: 1px;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    transform-origin: center;
}



:root[menu-open] body {
    position: fixed;
}

:root[menu-open] #menu-container {
    height: 100vh;
}



:root[menu-open] #menu-container li,
:root[menu-open] #menu-container svg,
::deep.hamburger-a-wrapper a{
    opacity: 1 !important;
    list-style: none;
}

:root[menu-open] #menu-but-id span:nth-child(1) {
    transform: translate3d(0, 6px, 0) rotate(45deg);
}

:root[menu-open] #menu-but-id span:nth-child(2) {
    transform: scaleX(0);
    opacity: 0;
}

:root[menu-open] #menu-but-id span:nth-child(3) {
    transform: translate3d(0, -5px, 0) rotate(-45deg);
}

#menu-container svg {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.hamburger-menu-svgs {
    margin-bottom: -16rem;
}

.hamburger-link {
    cursor: pointer;
}

#menu-container {
    overflow: hidden;
    position: absolute;
    inset: 0;
    background-color: #0f303a;
    text-align: center;
    display: grid;
    place-content: center;
    height: 0;
    transition: height .8s cubic-bezier(.14, .65, .15, 1);
    z-index: -1;
}

#menu-container li,
::deep.hamburger-a-wrapper a{
    color: white;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
}

#menu-container a,
::deep.hamburger-a-wrapper a{
    text-decoration: none;
    color: white;
    transition: color .2s ease-in-out;
}

#menu-container a:hover,
::deep .hamburger-a-wrapper:hover a{
    color: #021419 !important;
}

.menu-wrapper {
    position: fixed;
}

.unstyled {
    height: 12rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8rem;
}

@keyframes tilt-shaking {
    0%, 40% {
        transform: rotate(0deg);
    }

    42% {
        transform: rotate(-5deg);
    }

    45% {
        transform: rotate(5deg);
    }

    48% {
        transform: rotate(0eg);
    }

    50% {
        transform: rotate(-5deg);
    }

    52% {
        transform: rotate(0deg);
    }

    55% {
        transform: rotate(5deg);
    }

    58% {
        transform: rotate(0deg);
    }



    60%, 100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 800px) {
    .right-links {
        display: none;
    }

    #menu-but-id {
        display: flex;
        visibility: visible;
        margin-left: 1rem;
    }
}

@media(max-width: 700px) {
    #give-us-a-call {
        display: none;
    }
}

@media(max-width: 500px) {
    #phone-number {
        display: none;
    }
}

@media(max-width: 500px) {
    .top-nav-menu {
        padding: 10px 1rem;
    }
}

@media(max-width: 430px) {
    .nav-menu-logo-font {
        display: none;
    }
}