@page "/about"
@using BlazorApp.Client.Components
@inject IJSRuntime JSRuntime


<div class="about-page-container">
    <div class="about-page-content" >
        <div class="about-page-svg">
            <svg width="2405" height="223" viewBox="0 0 2405 223" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0H2405C2405 64.8 2277.5 88 2223 88C1966 88 1827.66 139.873 1758.5 161.5C1451.5 257.5 925 173.5 779.5 161.5C738.855 158.148 410.753 124.097 325 161.5C184 223 84.8333 223 0 223V0Z" fill="#27A1E5" />
            </svg>
        </div>

        <div class="about-bio-container" @ref="aboutContent">
            <div class="bio-container-left">
                <div class="about-bio-header">
                    About Us
                </div>

                <div class="about-bio-content">
                    At Tortuga Pool Services, we pride ourselves
                    on delivering top-notch pool cleaning and
                    maintenance services that exceed industry
                    standards. Our mission is to ensure that
                    your pool is not only clean but also safe and
                    inviting, providing you with a hassle-free and
                    enjoyable swimming experience.
                </div>
            </div>
            <div class="bio-container-right">
                <div class="about-bio-image-container">
                        <img src="/Images/AndrewChemicals.jpg"  alt="bio-image" loading="lazy"/>
                </div>
            </div>
          
        </div>
    </div>
    <div class="svg-right-about">
        <svg width="830" height="528" viewBox="0 0 830 528" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M464.821 182.493C475.949 181.029 486.456 176.518 495.182 169.459C502.464 163.51 508.506 156.187 512.962 147.907C524.068 151.07 533.912 157.616 541.125 166.634L559.599 189.62C560.284 190.476 561.138 191.183 562.108 191.695C563.078 192.208 564.142 192.515 565.236 192.599C566.329 192.682 567.428 192.54 568.464 192.181C569.501 191.822 570.452 191.254 571.26 190.512C572.75 189.084 573.646 187.146 573.767 185.085C573.889 183.025 573.227 180.995 571.914 179.402L564.121 169.705L570.029 115.409C575.846 113.482 581.28 110.551 586.086 106.75C592.675 101.483 597.681 94.4981 600.552 86.5664C609.242 62.5958 599.297 31.4975 573.828 3.43289C572.513 1.97899 570.71 1.05863 568.761 0.846544C566.812 0.634459 564.853 1.14541 563.256 2.2824C532.372 24.2433 515.946 52.4434 519.307 77.6969C520.616 87.603 525.114 96.8138 532.122 103.936C532.653 104.498 533.335 104.893 534.086 105.075C534.837 105.257 535.625 105.218 536.354 104.962C537.083 104.705 537.722 104.243 538.194 103.632C538.666 103.02 538.951 102.284 539.014 101.514L541.388 73.8191C541.667 71.7515 542.742 69.8746 544.385 68.5886C546.027 67.3026 548.108 66.7091 550.182 66.9348C552.256 67.1605 554.159 68.1875 555.487 69.7967C556.815 71.406 557.461 73.4703 557.289 75.5494L549.904 152.368C549.368 151.798 548.825 151.233 548.281 150.683C537.625 140.218 523.843 133.519 509.031 131.603L436.108 121.627C433.999 121.398 432.066 120.341 430.736 118.687C429.406 117.034 428.787 114.92 429.016 112.81C429.245 110.701 430.302 108.768 431.955 107.438C433.609 106.108 435.723 105.489 437.832 105.718L508.489 115.412C509.196 115.51 509.917 115.416 510.577 115.141C511.236 114.866 511.81 114.419 512.238 113.847C512.666 113.275 512.933 112.599 513.011 111.889C513.09 111.179 512.976 110.46 512.683 109.809C505.427 93.2146 492.898 80.9614 476.485 74.9859C444.095 63.1962 401.816 76.9322 363.376 111.727C361.922 113.043 361.002 114.846 360.789 116.795C360.577 118.744 361.088 120.703 362.225 122.3C392.319 164.532 430.654 187.04 464.821 182.493Z" fill="#52B9C7" fill-opacity="0.06" />
            <path d="M786.418 193.081C776.827 198.911 765.812 201.977 754.588 201.941C745.185 201.867 735.889 199.944 727.228 196.281C720.553 205.704 716.981 216.973 717.008 228.521V258.011C717.011 259.108 716.787 260.193 716.353 261.2C715.918 262.207 715.281 263.114 714.481 263.864C713.681 264.614 712.735 265.192 711.703 265.561C710.67 265.931 709.572 266.084 708.478 266.011C706.422 265.832 704.509 264.882 703.124 263.352C701.739 261.822 700.983 259.825 701.008 257.761V245.321L662.388 206.701C656.647 208.843 650.576 209.963 644.448 210.011C636.013 210.033 627.735 207.725 620.528 203.341C598.738 190.101 587.008 159.631 589.278 121.801C589.392 119.844 590.221 117.997 591.608 116.611C592.994 115.224 594.841 114.395 596.798 114.281C634.628 112.051 665.098 123.741 678.298 145.531C683.484 154.072 685.748 164.069 684.748 174.011C684.686 174.781 684.402 175.517 683.931 176.129C683.459 176.742 682.82 177.204 682.092 177.461C681.363 177.718 680.575 177.759 679.824 177.578C679.073 177.397 678.39 177.002 677.858 176.441L658.658 156.341C657.146 154.904 655.132 154.115 653.046 154.142C650.959 154.168 648.966 155.009 647.491 156.484C646.016 157.959 645.175 159.952 645.149 162.038C645.122 164.125 645.911 166.139 647.348 167.651L701.228 222.901C701.288 222.121 701.358 221.341 701.438 220.571C703.188 205.739 709.733 191.883 720.078 181.111L770.668 127.651C772.169 126.151 773.013 124.117 773.014 121.995C773.015 119.873 772.173 117.837 770.673 116.336C769.173 114.835 767.139 113.991 765.017 113.99C762.895 113.989 760.859 114.831 759.358 116.331L710.358 168.151C709.868 168.671 709.247 169.049 708.561 169.248C707.874 169.446 707.147 169.457 706.455 169.28C705.763 169.102 705.131 168.742 704.625 168.238C704.119 167.733 703.758 167.103 703.578 166.411C698.838 148.931 700.928 131.531 709.978 116.591C727.838 87.111 769.398 71.331 821.158 74.371C823.115 74.4853 824.962 75.3143 826.349 76.7006C827.735 78.0868 828.564 79.9339 828.678 81.891C831.678 133.661 815.898 175.221 786.418 193.081Z" fill="#52B9C7" fill-opacity="0.06" />
            <path d="M161.304 436.105C161.856 424.895 159.3 413.75 153.918 403.901C149.37 395.671 143.248 388.415 135.899 382.548C141.001 372.188 149.204 363.676 159.368 358.195L185.291 344.136C186.256 343.615 187.104 342.902 187.782 342.04C188.46 341.177 188.953 340.185 189.231 339.124C189.509 338.063 189.566 336.957 189.399 335.873C189.231 334.789 188.843 333.751 188.257 332.824C187.119 331.102 185.373 329.873 183.367 329.385C181.362 328.896 179.246 329.184 177.444 330.19L166.508 336.121L114.148 320.583C113.294 314.515 111.384 308.644 108.505 303.235C104.503 295.809 98.528 289.633 91.2388 285.388C69.2123 272.545 36.8356 276.76 4.6632 296.79C2.99725 297.823 1.76879 299.432 1.21106 301.312C0.65333 303.191 0.805148 305.21 1.6377 306.985C17.7119 341.303 42.5139 362.514 67.9612 363.73C77.9414 364.217 87.8089 361.442 96.0715 355.823C96.719 355.401 97.2304 354.801 97.5439 354.094C97.8574 353.388 97.9596 352.606 97.8381 351.843C97.7166 351.079 97.3767 350.368 96.8593 349.794C96.342 349.22 95.6694 348.808 94.923 348.608L68.1009 341.312C66.1167 340.668 64.4627 339.273 63.4917 337.427C62.5207 335.58 62.3094 333.428 62.903 331.428C63.4965 329.427 64.8478 327.738 66.6689 326.72C68.4899 325.702 70.6366 325.436 72.6512 325.978L146.905 347.002C146.248 347.427 145.595 347.86 144.957 348.298C132.752 356.907 123.693 369.265 119.156 383.495L96.2789 453.452C95.6762 455.487 94.2899 457.198 92.425 458.211C90.5601 459.223 88.3694 459.453 86.3348 458.851C84.3003 458.248 82.5885 456.861 81.5761 454.997C80.5637 453.132 80.3335 450.941 80.9363 448.906L103.129 381.129C103.352 380.45 103.389 379.724 103.236 379.026C103.084 378.328 102.747 377.684 102.261 377.16C101.775 376.636 101.157 376.253 100.473 376.048C99.7879 375.844 99.061 375.827 98.3675 375.998C80.742 380.165 66.4428 390.297 57.6241 405.375C40.224 435.129 46.1653 479.185 73.5129 523.235C74.5464 524.901 76.1557 526.13 78.0351 526.687C79.9146 527.245 81.9335 527.093 83.7084 526.261C130.647 504.218 159.658 470.534 161.304 436.105Z" fill="#52B9C7" fill-opacity="0.04" />
            <path d="M229.321 121.605C233.339 132.085 234.383 143.471 232.337 154.507C230.58 163.744 227.022 172.546 221.868 180.411C229.943 188.665 240.39 194.198 251.756 196.24L280.769 201.522C281.849 201.716 282.877 202.13 283.789 202.738C284.702 203.346 285.48 204.135 286.075 205.057C286.67 205.978 287.069 207.012 287.247 208.094C287.426 209.176 287.38 210.283 287.112 211.347C286.568 213.338 285.291 215.049 283.537 216.138C281.784 217.227 279.684 217.613 277.658 217.218L265.419 214.99L220.506 246.069C221.585 252.1 221.6 258.274 220.549 264.311C219.06 272.614 215.307 280.345 209.703 286.65C192.774 305.716 160.696 311.799 123.884 302.79C121.979 302.327 120.311 301.181 119.195 299.569C118.08 297.956 117.595 295.991 117.833 294.045C122.415 256.427 139.373 228.544 163.175 219.46C172.506 215.887 182.748 215.45 192.35 218.215C193.096 218.414 193.769 218.825 194.287 219.399C194.805 219.972 195.146 220.684 195.268 221.447C195.391 222.21 195.289 222.992 194.977 223.699C194.664 224.405 194.153 225.006 193.506 225.429L170.292 240.718C168.608 241.949 167.471 243.789 167.123 245.846C166.776 247.903 167.246 250.015 168.433 251.73C169.62 253.446 171.43 254.63 173.478 255.03C175.526 255.43 177.648 255.014 179.394 253.871L243.401 210.758C242.644 210.559 241.889 210.351 241.146 210.134C226.867 205.756 214.407 196.836 205.663 184.728L162.128 125.381C160.921 123.636 159.071 122.441 156.983 122.06C154.896 121.679 152.742 122.143 150.997 123.35C149.252 124.556 148.057 126.407 147.676 128.494C147.295 130.582 147.759 132.735 148.965 134.481L191.171 191.97C191.595 192.545 191.856 193.224 191.928 193.935C192.001 194.645 191.881 195.363 191.582 196.012C191.284 196.661 190.817 197.218 190.23 197.625C189.643 198.033 188.958 198.275 188.245 198.328C170.199 199.861 153.454 194.688 140.377 183.109C114.573 160.257 106.491 116.543 118.753 66.1647C119.216 64.2596 120.362 62.591 121.974 61.4754C123.587 60.3598 125.552 59.8751 127.498 60.1132C178.968 66.4341 217.03 89.4026 229.321 121.605Z" fill="#52B9C7" fill-opacity="0.06" />
        </svg>

    </div>

    <Footer/>
</div>

@code {
    private ElementReference aboutContent;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("observeElement", aboutContent);
        }
    }
}