:root {
    --bg-color: #FFFFF6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: black;
    font-family: "Asap", sans-serif;
}

/*a {
    text-decoration: none;
    color: var(--bg-color);
}*/