﻿.main-home-action-container {
    max-height: 50cqw;
    min-height: 10rem;
    min-width: 15rem;
    width: fit-content;
    transform: translateY(-16%);
    padding: 30px 20px;
    vertical-align: middle;
    margin: auto;
    display: flex;
    flex-direction: column;
    z-index: 3;
    backdrop-filter: blur(0px);
    border-radius: 18px;
    opacity: 0;
    transition: padding .5s ease;
    padding: 2.5cqw;
    justify-content: center;
}

.main-home-action-container:hover {
    padding: 2cqw;
}

.main-home-action-container.is-visible {
    opacity: 1;
    animation: slideIn 1.5s ease forwards;
}


.main-home-action-prompt h1{ 
    color: #fbf7ef;
    font-weight: 700;
    pointer-events: none;
    font-size: clamp(3.2rem, 4cqw, 5cqw);
}

.main-home-action-bar {
    min-height: 2rem;
    height: 5.3cqh;
    width: 100%;
    background-color: white;
    border-radius: 62px;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 3px 0;
    justify-content: space-between;
    vertical-align: middle;
    text-align: center;
    container-type: inline-size;
    align-items: center;
    margin-top: 1cqw;
}

.action-bar-prompt {
    pointer-events: none;
    text-align: center;
    vertical-align: middle;
    padding: 0 21px;
    display: flex;
    align-items: center;
    color: #777171;
    font-weight: 500;
    font-size: clamp(.7rem, 3.5cqw, 3.6cqw);
}

.home-action-button {
    height: 96%;
    font-size: 3cqh;
    padding: 0cqw 7cqw;
    display: flex;
    align-items: center;
    border: none;
    background-color: #226393;
    border-radius: 22px;
    color: white;
    font-style: italic;
    font-weight: 600;
    margin-right: 1cqw;
    transition: all .2s ease-in-out;
}

.home-action-button:hover {
    filter: contrast(120%);
    cursor: pointer;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        backdrop-filter: blur(0px);
        opacity: .2;
    }

    to {
        opacity: 1;
        transform: translateY(0);
        backdrop-filter: blur(3px);
        background: linear-gradient(180deg,rgba(210,244,255,0.1156)0%, rgba(249,253,255,0.34)100%);
    }
}

@media (max-width: 1000px) {
    .main-home-action-container {
        padding: 30px 20px;
    }
}

@media (max-width: 400px) {
    .main-home-action-container {
        min-height: 12rem;
    }

    .main-home-action-prompt {
        font-size: clamp(3rem, 4cqw, 5cqw);
    }
}

@media(max-width: 360px) {
    .main-home-action-prompt {
        font-size: clamp(2.7rem, 4cqw, 5cqw);
    }
}
