@inject IJSRuntime JSRuntime﻿

<div class="reviews-gallery-container" @ref="galleryContainer">
    <div class="gallery-header">
        Hear what our customers have to say
    </div>
    <div class="swiper" id="reviews-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="review-container">
                    <div class="review-main-content">
                        <div class="review-top">
                            <div class="reviewer-info-container">
                                <div class="reviewer-avatar">
                                    J
                                </div>
                                <div class="reviewer-details">
                                    <div class="reviewer-name">
                                        Jacob Juarez
                                    </div>
                                    <div class="reviewer-num-reviews">
                                        4 Reviews
                                    </div>
                                </div>
                            </div>
                            <div class="review-rating-container">
                                <svg class="review-svg" width="115" height="19" viewBox="0 0 115 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.6215 17.8126C14.4965 17.8131 14.3746 17.7741 14.273 17.7012L9.50039 14.2412L4.72776 17.7012C4.62579 17.7752 4.50295 17.8148 4.37699 17.8144C4.25103 17.8139 4.12848 17.7734 4.02706 17.6987C3.92563 17.624 3.85059 17.519 3.81278 17.3988C3.77497 17.2787 3.77635 17.1496 3.81672 17.0303L5.67813 11.517L0.853909 8.20867C0.749413 8.13709 0.670545 8.03397 0.62883 7.91438C0.587114 7.79478 0.584736 7.66498 0.622043 7.54394C0.659351 7.4229 0.734389 7.31696 0.836193 7.2416C0.937997 7.16624 1.06123 7.12541 1.18789 7.12508H7.13949L8.93559 1.59764C8.97428 1.4783 9.04978 1.37429 9.15124 1.30052C9.25271 1.22675 9.37494 1.18701 9.50039 1.18701C9.62584 1.18701 9.74807 1.22675 9.84954 1.30052C9.95101 1.37429 10.0265 1.4783 10.0652 1.59764L11.8613 7.12693H17.8129C17.9397 7.12687 18.0632 7.16742 18.1653 7.24263C18.2674 7.31784 18.3428 7.42378 18.3803 7.54491C18.4179 7.66605 18.4156 7.79602 18.374 7.91579C18.3323 8.03557 18.2534 8.13886 18.1487 8.21053L13.3227 11.517L15.1829 17.0288C15.2131 17.1181 15.2216 17.2132 15.2077 17.3064C15.1938 17.3995 15.1579 17.488 15.1031 17.5646C15.0482 17.6412 14.976 17.7036 14.8922 17.7467C14.8085 17.7898 14.7157 17.8124 14.6215 17.8126Z" fill="#FFCC53" />
                                    <path d="M38.6215 17.8126C38.4965 17.8131 38.3746 17.7741 38.273 17.7012L33.5004 14.2412L28.7278 17.7012C28.6258 17.7752 28.5029 17.8148 28.377 17.8144C28.251 17.8139 28.1285 17.7734 28.0271 17.6987C27.9256 17.624 27.8506 17.519 27.8128 17.3988C27.775 17.2787 27.7763 17.1496 27.8167 17.0303L29.6781 11.517L24.8539 8.20867C24.7494 8.13709 24.6705 8.03397 24.6288 7.91438C24.5871 7.79478 24.5847 7.66498 24.622 7.54394C24.6594 7.4229 24.7344 7.31696 24.8362 7.2416C24.938 7.16624 25.0612 7.12541 25.1879 7.12508H31.1395L32.9356 1.59764C32.9743 1.4783 33.0498 1.37429 33.1512 1.30052C33.2527 1.22675 33.3749 1.18701 33.5004 1.18701C33.6258 1.18701 33.7481 1.22675 33.8495 1.30052C33.951 1.37429 34.0265 1.4783 34.0652 1.59764L35.8613 7.12693H41.8129C41.9397 7.12687 42.0632 7.16742 42.1653 7.24263C42.2674 7.31784 42.3428 7.42378 42.3803 7.54491C42.4179 7.66605 42.4156 7.79602 42.374 7.91579C42.3323 8.03557 42.2534 8.13886 42.1487 8.21053L37.3227 11.517L39.1829 17.0288C39.2131 17.1181 39.2216 17.2132 39.2077 17.3064C39.1938 17.3995 39.1579 17.488 39.1031 17.5646C39.0482 17.6412 38.976 17.7036 38.8922 17.7467C38.8085 17.7898 38.7157 17.8124 38.6215 17.8126Z" fill="#FFCC53" />
                                    <path d="M62.6215 17.8126C62.4965 17.8131 62.3746 17.7741 62.273 17.7012L57.5004 14.2412L52.7278 17.7012C52.6258 17.7752 52.5029 17.8148 52.377 17.8144C52.251 17.8139 52.1285 17.7734 52.0271 17.6987C51.9256 17.624 51.8506 17.519 51.8128 17.3988C51.775 17.2787 51.7763 17.1496 51.8167 17.0303L53.6781 11.517L48.8539 8.20867C48.7494 8.13709 48.6705 8.03397 48.6288 7.91438C48.5871 7.79478 48.5847 7.66498 48.622 7.54394C48.6594 7.4229 48.7344 7.31696 48.8362 7.2416C48.938 7.16624 49.0612 7.12541 49.1879 7.12508H55.1395L56.9356 1.59764C56.9743 1.4783 57.0498 1.37429 57.1512 1.30052C57.2527 1.22675 57.3749 1.18701 57.5004 1.18701C57.6258 1.18701 57.7481 1.22675 57.8495 1.30052C57.951 1.37429 58.0265 1.4783 58.0652 1.59764L59.8613 7.12693H65.8129C65.9397 7.12687 66.0632 7.16742 66.1653 7.24263C66.2674 7.31784 66.3428 7.42378 66.3803 7.54491C66.4179 7.66605 66.4156 7.79602 66.374 7.91579C66.3323 8.03557 66.2534 8.13886 66.1487 8.21053L61.3227 11.517L63.1829 17.0288C63.2131 17.1181 63.2216 17.2132 63.2077 17.3064C63.1938 17.3995 63.1579 17.488 63.1031 17.5646C63.0482 17.6412 62.976 17.7036 62.8922 17.7467C62.8085 17.7898 62.7157 17.8124 62.6215 17.8126Z" fill="#FFCC53" />
                                    <path d="M86.6215 17.8126C86.4965 17.8131 86.3746 17.7741 86.273 17.7012L81.5004 14.2412L76.7278 17.7012C76.6258 17.7752 76.5029 17.8148 76.377 17.8144C76.251 17.8139 76.1285 17.7734 76.0271 17.6987C75.9256 17.624 75.8506 17.519 75.8128 17.3988C75.775 17.2787 75.7763 17.1496 75.8167 17.0303L77.6781 11.517L72.8539 8.20867C72.7494 8.13709 72.6705 8.03397 72.6288 7.91438C72.5871 7.79478 72.5847 7.66498 72.622 7.54394C72.6594 7.4229 72.7344 7.31696 72.8362 7.2416C72.938 7.16624 73.0612 7.12541 73.1879 7.12508H79.1395L80.9356 1.59764C80.9743 1.4783 81.0498 1.37429 81.1512 1.30052C81.2527 1.22675 81.3749 1.18701 81.5004 1.18701C81.6258 1.18701 81.7481 1.22675 81.8495 1.30052C81.951 1.37429 82.0265 1.4783 82.0652 1.59764L83.8613 7.12693H89.8129C89.9397 7.12687 90.0632 7.16742 90.1653 7.24263C90.2674 7.31784 90.3428 7.42378 90.3803 7.54491C90.4179 7.66605 90.4156 7.79602 90.374 7.91579C90.3323 8.03557 90.2534 8.13886 90.1487 8.21053L85.3227 11.517L87.1829 17.0288C87.2131 17.1181 87.2216 17.2132 87.2077 17.3064C87.1938 17.3995 87.1579 17.488 87.1031 17.5646C87.0482 17.6412 86.976 17.7036 86.8922 17.7467C86.8085 17.7898 86.7157 17.8124 86.6215 17.8126Z" fill="#FFCC53" />
                                    <path d="M110.621 17.8126C110.497 17.8131 110.375 17.7741 110.273 17.7012L105.5 14.2412L100.728 17.7012C100.626 17.7752 100.503 17.8148 100.377 17.8144C100.251 17.8139 100.128 17.7734 100.027 17.6987C99.9256 17.624 99.8506 17.519 99.8128 17.3988C99.775 17.2787 99.7763 17.1496 99.8167 17.0303L101.678 11.517L96.8539 8.20867C96.7494 8.13709 96.6705 8.03397 96.6288 7.91438C96.5871 7.79478 96.5847 7.66498 96.622 7.54394C96.6594 7.4229 96.7344 7.31696 96.8362 7.2416C96.938 7.16624 97.0612 7.12541 97.1879 7.12508H103.139L104.936 1.59764C104.974 1.4783 105.05 1.37429 105.151 1.30052C105.253 1.22675 105.375 1.18701 105.5 1.18701C105.626 1.18701 105.748 1.22675 105.85 1.30052C105.951 1.37429 106.027 1.4783 106.065 1.59764L107.861 7.12693H113.813C113.94 7.12687 114.063 7.16742 114.165 7.24263C114.267 7.31784 114.343 7.42378 114.38 7.54491C114.418 7.66605 114.416 7.79602 114.374 7.91579C114.332 8.03557 114.253 8.13886 114.149 8.21053L109.323 11.517L111.183 17.0288C111.213 17.1181 111.222 17.2132 111.208 17.3064C111.194 17.3995 111.158 17.488 111.103 17.5646C111.048 17.6412 110.976 17.7036 110.892 17.7467C110.808 17.7898 110.716 17.8124 110.621 17.8126Z" fill="#FFCC53" />
                                </svg>
                            </div>
                            <div class="review-date">
                                Sept. 20 2024
                            </div>
                        </div>
                        <div class="review-content">
                            <div class="review-title">
                                Great Service!
                            </div>
                            <div class="review">
                                <p>
                                    I seriously couldn't be happier with the service and the results.
                                    Andrew was super friendly and knowledgeable all while being very
                                    professional. He gave me a great quote, and even helped out even
                                    when my pool wasn't in his rotation that that hat ht
                                </p>
                            </div>
                        </div>
                        <div class="review-link-container">
                            <a class="review-link" href="https://maps.app.goo.gl/2hL5wxkEYbsMZGUt7" target="_blank">
                                See more...
                            </a>
                            <div class="google-svg-container">
                                <div class="google-svg-wrapper">
                                    <svg class="google-svg" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_434_869)">
                                            <path d="M9.40495 0.887929C6.70723 1.82379 4.38072 3.60009 2.76715 5.95592C1.15358 8.31174 0.337996 11.1229 0.440197 13.9765C0.542398 16.8301 1.557 19.5758 3.33497 21.8101C5.11293 24.0445 7.56055 25.6498 10.3183 26.3903C12.5541 26.9672 14.8965 26.9925 17.1442 26.4641C19.1805 26.0067 21.063 25.0284 22.6075 23.6249C24.215 22.1195 25.3819 20.2045 25.9825 18.0857C26.6354 15.7815 26.7516 13.3584 26.3221 11.0024H13.7671V16.2104H21.0382C20.8928 17.0411 20.5814 17.8339 20.1226 18.5414C19.6637 19.2488 19.0669 19.8565 18.3677 20.3279C17.4798 20.9152 16.4789 21.3104 15.4293 21.4881C14.3766 21.6838 13.2969 21.6838 12.2442 21.4881C11.1772 21.2675 10.1679 20.8271 9.2805 20.195C7.85487 19.1859 6.78442 17.7522 6.2219 16.0986C5.64987 14.4141 5.64987 12.5878 6.2219 10.9032C6.62232 9.72245 7.28426 8.64734 8.15831 7.75816C9.15856 6.72193 10.4249 5.98122 11.8184 5.61731C13.2119 5.2534 14.6787 5.28035 16.0579 5.69519C17.1353 6.02593 18.1206 6.60378 18.9351 7.38269C19.755 6.56707 20.5734 5.74934 21.3904 4.92949C21.8123 4.48863 22.2721 4.06887 22.6877 3.61746C21.4443 2.46042 19.9849 1.5601 18.393 0.968085C15.4941 -0.0845149 12.3222 -0.112802 9.40495 0.887929Z" fill="white" />
                                            <path d="M9.40555 0.887977C12.3225 -0.113434 15.4944 -0.0858911 18.3936 0.966024C19.9858 1.56206 21.4446 2.46671 22.6862 3.62806C22.2643 4.07946 21.8192 4.50134 21.3889 4.94009C20.5705 5.75712 19.7527 6.57134 18.9357 7.38274C18.1212 6.60383 17.1359 6.02597 16.0585 5.69524C14.6798 5.27894 13.213 5.25043 11.8191 5.61286C10.4253 5.97528 9.15814 6.71462 8.1568 7.74977C7.28274 8.63895 6.6208 9.71406 6.22039 10.8949L1.84766 7.5093C3.41283 4.40549 6.12283 2.03131 9.40555 0.887977Z" fill="#E33629" />
                                            <path d="M0.687338 10.8632C0.922367 9.69837 1.31256 8.57035 1.84749 7.50928L6.22023 10.9033C5.6482 12.5878 5.6482 14.4141 6.22023 16.0987C4.76335 17.2237 3.30578 18.3543 1.84749 19.4905C0.508359 16.8249 0.0999457 13.7878 0.687338 10.8632Z" fill="#F8BD00" />
                                            <path d="M13.7685 11.0005H26.3235C26.753 13.3565 26.6368 15.7796 25.9839 18.0838C25.3832 20.2026 24.2164 22.1176 22.6089 23.623C21.1977 22.5219 19.7802 21.4292 18.3691 20.3281C19.0687 19.8562 19.6658 19.2479 20.1247 18.5397C20.5836 17.8314 20.8947 17.0378 21.0395 16.2064H13.7685C13.7664 14.4725 13.7685 12.7365 13.7685 11.0005Z" fill="#587DBD" />
                                            <path d="M1.8457 19.4905C3.30398 18.3655 4.76156 17.2349 6.21844 16.0986C6.78208 17.7528 7.85406 19.1865 9.28125 20.195C10.1714 20.8242 11.1829 21.261 12.2513 21.4775C13.3039 21.6733 14.3837 21.6733 15.4364 21.4775C16.486 21.2999 17.4869 20.9047 18.3748 20.3174C19.7859 21.4185 21.2034 22.5111 22.6146 23.6122C21.0703 25.0165 19.1878 25.9956 17.1513 26.4536C14.9036 26.982 12.5612 26.9566 10.3254 26.3797C8.55711 25.9076 6.90541 25.0753 5.47383 23.935C3.95858 22.732 2.721 21.2159 1.8457 19.4905Z" fill="#319F43" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_434_869">
                                                <rect width="27" height="27" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="review-container">
                    <div class="review-main-content">
                        <div class="review-top">
                            <div class="reviewer-info-container">
                                <div class="reviewer-avatar">
                                </div>
                                <div class="reviewer-details">
                                    <div class="reviewer-name">
                                        Jacob Juarez
                                    </div>
                                    <div class="reviewer-num-reviews">
                                        4 Reviews
                                    </div>
                                </div>
                            </div>
                            <div class="review-rating-container">
                                <svg class="review-svg" width="115" height="19" viewBox="0 0 115 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.6215 17.8126C14.4965 17.8131 14.3746 17.7741 14.273 17.7012L9.50039 14.2412L4.72776 17.7012C4.62579 17.7752 4.50295 17.8148 4.37699 17.8144C4.25103 17.8139 4.12848 17.7734 4.02706 17.6987C3.92563 17.624 3.85059 17.519 3.81278 17.3988C3.77497 17.2787 3.77635 17.1496 3.81672 17.0303L5.67813 11.517L0.853909 8.20867C0.749413 8.13709 0.670545 8.03397 0.62883 7.91438C0.587114 7.79478 0.584736 7.66498 0.622043 7.54394C0.659351 7.4229 0.734389 7.31696 0.836193 7.2416C0.937997 7.16624 1.06123 7.12541 1.18789 7.12508H7.13949L8.93559 1.59764C8.97428 1.4783 9.04978 1.37429 9.15124 1.30052C9.25271 1.22675 9.37494 1.18701 9.50039 1.18701C9.62584 1.18701 9.74807 1.22675 9.84954 1.30052C9.95101 1.37429 10.0265 1.4783 10.0652 1.59764L11.8613 7.12693H17.8129C17.9397 7.12687 18.0632 7.16742 18.1653 7.24263C18.2674 7.31784 18.3428 7.42378 18.3803 7.54491C18.4179 7.66605 18.4156 7.79602 18.374 7.91579C18.3323 8.03557 18.2534 8.13886 18.1487 8.21053L13.3227 11.517L15.1829 17.0288C15.2131 17.1181 15.2216 17.2132 15.2077 17.3064C15.1938 17.3995 15.1579 17.488 15.1031 17.5646C15.0482 17.6412 14.976 17.7036 14.8922 17.7467C14.8085 17.7898 14.7157 17.8124 14.6215 17.8126Z" fill="#FFCC53" />
                                    <path d="M38.6215 17.8126C38.4965 17.8131 38.3746 17.7741 38.273 17.7012L33.5004 14.2412L28.7278 17.7012C28.6258 17.7752 28.5029 17.8148 28.377 17.8144C28.251 17.8139 28.1285 17.7734 28.0271 17.6987C27.9256 17.624 27.8506 17.519 27.8128 17.3988C27.775 17.2787 27.7763 17.1496 27.8167 17.0303L29.6781 11.517L24.8539 8.20867C24.7494 8.13709 24.6705 8.03397 24.6288 7.91438C24.5871 7.79478 24.5847 7.66498 24.622 7.54394C24.6594 7.4229 24.7344 7.31696 24.8362 7.2416C24.938 7.16624 25.0612 7.12541 25.1879 7.12508H31.1395L32.9356 1.59764C32.9743 1.4783 33.0498 1.37429 33.1512 1.30052C33.2527 1.22675 33.3749 1.18701 33.5004 1.18701C33.6258 1.18701 33.7481 1.22675 33.8495 1.30052C33.951 1.37429 34.0265 1.4783 34.0652 1.59764L35.8613 7.12693H41.8129C41.9397 7.12687 42.0632 7.16742 42.1653 7.24263C42.2674 7.31784 42.3428 7.42378 42.3803 7.54491C42.4179 7.66605 42.4156 7.79602 42.374 7.91579C42.3323 8.03557 42.2534 8.13886 42.1487 8.21053L37.3227 11.517L39.1829 17.0288C39.2131 17.1181 39.2216 17.2132 39.2077 17.3064C39.1938 17.3995 39.1579 17.488 39.1031 17.5646C39.0482 17.6412 38.976 17.7036 38.8922 17.7467C38.8085 17.7898 38.7157 17.8124 38.6215 17.8126Z" fill="#FFCC53" />
                                    <path d="M62.6215 17.8126C62.4965 17.8131 62.3746 17.7741 62.273 17.7012L57.5004 14.2412L52.7278 17.7012C52.6258 17.7752 52.5029 17.8148 52.377 17.8144C52.251 17.8139 52.1285 17.7734 52.0271 17.6987C51.9256 17.624 51.8506 17.519 51.8128 17.3988C51.775 17.2787 51.7763 17.1496 51.8167 17.0303L53.6781 11.517L48.8539 8.20867C48.7494 8.13709 48.6705 8.03397 48.6288 7.91438C48.5871 7.79478 48.5847 7.66498 48.622 7.54394C48.6594 7.4229 48.7344 7.31696 48.8362 7.2416C48.938 7.16624 49.0612 7.12541 49.1879 7.12508H55.1395L56.9356 1.59764C56.9743 1.4783 57.0498 1.37429 57.1512 1.30052C57.2527 1.22675 57.3749 1.18701 57.5004 1.18701C57.6258 1.18701 57.7481 1.22675 57.8495 1.30052C57.951 1.37429 58.0265 1.4783 58.0652 1.59764L59.8613 7.12693H65.8129C65.9397 7.12687 66.0632 7.16742 66.1653 7.24263C66.2674 7.31784 66.3428 7.42378 66.3803 7.54491C66.4179 7.66605 66.4156 7.79602 66.374 7.91579C66.3323 8.03557 66.2534 8.13886 66.1487 8.21053L61.3227 11.517L63.1829 17.0288C63.2131 17.1181 63.2216 17.2132 63.2077 17.3064C63.1938 17.3995 63.1579 17.488 63.1031 17.5646C63.0482 17.6412 62.976 17.7036 62.8922 17.7467C62.8085 17.7898 62.7157 17.8124 62.6215 17.8126Z" fill="#FFCC53" />
                                    <path d="M86.6215 17.8126C86.4965 17.8131 86.3746 17.7741 86.273 17.7012L81.5004 14.2412L76.7278 17.7012C76.6258 17.7752 76.5029 17.8148 76.377 17.8144C76.251 17.8139 76.1285 17.7734 76.0271 17.6987C75.9256 17.624 75.8506 17.519 75.8128 17.3988C75.775 17.2787 75.7763 17.1496 75.8167 17.0303L77.6781 11.517L72.8539 8.20867C72.7494 8.13709 72.6705 8.03397 72.6288 7.91438C72.5871 7.79478 72.5847 7.66498 72.622 7.54394C72.6594 7.4229 72.7344 7.31696 72.8362 7.2416C72.938 7.16624 73.0612 7.12541 73.1879 7.12508H79.1395L80.9356 1.59764C80.9743 1.4783 81.0498 1.37429 81.1512 1.30052C81.2527 1.22675 81.3749 1.18701 81.5004 1.18701C81.6258 1.18701 81.7481 1.22675 81.8495 1.30052C81.951 1.37429 82.0265 1.4783 82.0652 1.59764L83.8613 7.12693H89.8129C89.9397 7.12687 90.0632 7.16742 90.1653 7.24263C90.2674 7.31784 90.3428 7.42378 90.3803 7.54491C90.4179 7.66605 90.4156 7.79602 90.374 7.91579C90.3323 8.03557 90.2534 8.13886 90.1487 8.21053L85.3227 11.517L87.1829 17.0288C87.2131 17.1181 87.2216 17.2132 87.2077 17.3064C87.1938 17.3995 87.1579 17.488 87.1031 17.5646C87.0482 17.6412 86.976 17.7036 86.8922 17.7467C86.8085 17.7898 86.7157 17.8124 86.6215 17.8126Z" fill="#FFCC53" />
                                    <path d="M110.621 17.8126C110.497 17.8131 110.375 17.7741 110.273 17.7012L105.5 14.2412L100.728 17.7012C100.626 17.7752 100.503 17.8148 100.377 17.8144C100.251 17.8139 100.128 17.7734 100.027 17.6987C99.9256 17.624 99.8506 17.519 99.8128 17.3988C99.775 17.2787 99.7763 17.1496 99.8167 17.0303L101.678 11.517L96.8539 8.20867C96.7494 8.13709 96.6705 8.03397 96.6288 7.91438C96.5871 7.79478 96.5847 7.66498 96.622 7.54394C96.6594 7.4229 96.7344 7.31696 96.8362 7.2416C96.938 7.16624 97.0612 7.12541 97.1879 7.12508H103.139L104.936 1.59764C104.974 1.4783 105.05 1.37429 105.151 1.30052C105.253 1.22675 105.375 1.18701 105.5 1.18701C105.626 1.18701 105.748 1.22675 105.85 1.30052C105.951 1.37429 106.027 1.4783 106.065 1.59764L107.861 7.12693H113.813C113.94 7.12687 114.063 7.16742 114.165 7.24263C114.267 7.31784 114.343 7.42378 114.38 7.54491C114.418 7.66605 114.416 7.79602 114.374 7.91579C114.332 8.03557 114.253 8.13886 114.149 8.21053L109.323 11.517L111.183 17.0288C111.213 17.1181 111.222 17.2132 111.208 17.3064C111.194 17.3995 111.158 17.488 111.103 17.5646C111.048 17.6412 110.976 17.7036 110.892 17.7467C110.808 17.7898 110.716 17.8124 110.621 17.8126Z" fill="#FFCC53" />
                                </svg>
                            </div>
                            <div class="review-date">
                                Sept. 20 2024
                            </div>
                        </div>
                        <div class="review-content">
                            <div class="review-title">
                                Great Service!
                            </div>
                            <div class="review">
                                <p>
                                    I really couldn't be happier with the service and the results.
                                    Andrew was super friendly and knowledgeable all while being very
                                    professional. He gave me a great quote, and even helped out even
                                    when my pool wasn't in his rotation that that hat ht
                                </p>
                            </div>
                        </div>
                        <div class="review-link-container">
                            <a class="review-link" href="https://maps.app.goo.gl/2hL5wxkEYbsMZGUt7" target="_blank">
                                See more...
                            </a>
                            <div class="google-svg-container">
                                <div class="google-svg-wrapper">
                                    <svg class="google-svg" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_434_869)">
                                            <path d="M9.40495 0.887929C6.70723 1.82379 4.38072 3.60009 2.76715 5.95592C1.15358 8.31174 0.337996 11.1229 0.440197 13.9765C0.542398 16.8301 1.557 19.5758 3.33497 21.8101C5.11293 24.0445 7.56055 25.6498 10.3183 26.3903C12.5541 26.9672 14.8965 26.9925 17.1442 26.4641C19.1805 26.0067 21.063 25.0284 22.6075 23.6249C24.215 22.1195 25.3819 20.2045 25.9825 18.0857C26.6354 15.7815 26.7516 13.3584 26.3221 11.0024H13.7671V16.2104H21.0382C20.8928 17.0411 20.5814 17.8339 20.1226 18.5414C19.6637 19.2488 19.0669 19.8565 18.3677 20.3279C17.4798 20.9152 16.4789 21.3104 15.4293 21.4881C14.3766 21.6838 13.2969 21.6838 12.2442 21.4881C11.1772 21.2675 10.1679 20.8271 9.2805 20.195C7.85487 19.1859 6.78442 17.7522 6.2219 16.0986C5.64987 14.4141 5.64987 12.5878 6.2219 10.9032C6.62232 9.72245 7.28426 8.64734 8.15831 7.75816C9.15856 6.72193 10.4249 5.98122 11.8184 5.61731C13.2119 5.2534 14.6787 5.28035 16.0579 5.69519C17.1353 6.02593 18.1206 6.60378 18.9351 7.38269C19.755 6.56707 20.5734 5.74934 21.3904 4.92949C21.8123 4.48863 22.2721 4.06887 22.6877 3.61746C21.4443 2.46042 19.9849 1.5601 18.393 0.968085C15.4941 -0.0845149 12.3222 -0.112802 9.40495 0.887929Z" fill="white" />
                                            <path d="M9.40555 0.887977C12.3225 -0.113434 15.4944 -0.0858911 18.3936 0.966024C19.9858 1.56206 21.4446 2.46671 22.6862 3.62806C22.2643 4.07946 21.8192 4.50134 21.3889 4.94009C20.5705 5.75712 19.7527 6.57134 18.9357 7.38274C18.1212 6.60383 17.1359 6.02597 16.0585 5.69524C14.6798 5.27894 13.213 5.25043 11.8191 5.61286C10.4253 5.97528 9.15814 6.71462 8.1568 7.74977C7.28274 8.63895 6.6208 9.71406 6.22039 10.8949L1.84766 7.5093C3.41283 4.40549 6.12283 2.03131 9.40555 0.887977Z" fill="#E33629" />
                                            <path d="M0.687338 10.8632C0.922367 9.69837 1.31256 8.57035 1.84749 7.50928L6.22023 10.9033C5.6482 12.5878 5.6482 14.4141 6.22023 16.0987C4.76335 17.2237 3.30578 18.3543 1.84749 19.4905C0.508359 16.8249 0.0999457 13.7878 0.687338 10.8632Z" fill="#F8BD00" />
                                            <path d="M13.7685 11.0005H26.3235C26.753 13.3565 26.6368 15.7796 25.9839 18.0838C25.3832 20.2026 24.2164 22.1176 22.6089 23.623C21.1977 22.5219 19.7802 21.4292 18.3691 20.3281C19.0687 19.8562 19.6658 19.2479 20.1247 18.5397C20.5836 17.8314 20.8947 17.0378 21.0395 16.2064H13.7685C13.7664 14.4725 13.7685 12.7365 13.7685 11.0005Z" fill="#587DBD" />
                                            <path d="M1.8457 19.4905C3.30398 18.3655 4.76156 17.2349 6.21844 16.0986C6.78208 17.7528 7.85406 19.1865 9.28125 20.195C10.1714 20.8242 11.1829 21.261 12.2513 21.4775C13.3039 21.6733 14.3837 21.6733 15.4364 21.4775C16.486 21.2999 17.4869 20.9047 18.3748 20.3174C19.7859 21.4185 21.2034 22.5111 22.6146 23.6122C21.0703 25.0165 19.1878 25.9956 17.1513 26.4536C14.9036 26.982 12.5612 26.9566 10.3254 26.3797C8.55711 25.9076 6.90541 25.0753 5.47383 23.935C3.95858 22.732 2.721 21.2159 1.8457 19.4905Z" fill="#319F43" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_434_869">
                                                <rect width="27" height="27" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
        
        <div class="review-navigation">
                <svg id="nav-left" width="19" height="37" viewBox="0 0 19 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 34L4.6169 20.4278C3.68166 19.3128 3.68166 17.6872 4.6169 16.5722L16 3" stroke="#B1B1B1" stroke-width="6" stroke-linecap="round" />
                </svg>

                <svg id="nav-right" width="19" height="37" viewBox="0 0 19 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 3L14.3831 16.5722C15.3183 17.6872 15.3183 19.3128 14.3831 20.4278L3 34" stroke="#B1B1B1" stroke-width="6" stroke-linecap="round" />
                </svg>
        </div>
    </div>
</div>

@code {
    private ElementReference galleryContainer;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("observeElement", galleryContainer);
                        await InitializeSwiper();

        }

        async Task InitializeSwiper()
        {
            await JSRuntime.InvokeVoidAsync("swiperFunctions.initializeSwiper");
        }
    }
}